@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

html, body, div, h1, p, blockquote, a, cite, img, li, section {
 	 margin: 0;
 	 padding: 0;
 	 border: 0;
 	 font-size: 100%;
 	 font: Helvetica;
 	 vertical-align: baseline;
}

body {
  	-webkit-font-smoothing: antialiased;
  	background: #05090d;
  	color: #fff;
  	font: 16px/1.5 Charter;
  	text-align: center;
}

canvas {
  	position: fixed;
  	left: 0;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	pointer-events: none;
}

h1 {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Lato';
	font-size: 44px;
	font-weight: bold;
	letter-spacing: 3.5px;
	text-transform: uppercase;
	text-align: auto;
}

section {
  	padding: 110px 0;
}

.self p {
	font-family: Avenir;
	font-size: 14px;
	margin-bottom: 13px;
	text-align: auto;
}

a {
	font-family: 'Lato';
	color: inherit;
	text-decoration: none;
	
}

a:hover {
	border-bottom: 1px solid #fff;
}

.links li {
  	font-family: Avenir;
	font-weight: bold;
	font-size: 12px;
	display: inline-block;
	margin: 10px;
	text-transform: uppercase;
	text-align: center;
	padding: 0 !important;
}

.links .spaced {
  letter-spacing: 5px;
}

.words {
	display: inline-block;
	padding: 10px;
	align-self: auto;
}

blockquote {
  	max-width: 619px;
	text-align: auto;
}

.words blockquote p {
	font-size: 19px;
	align-self: auto;
}