@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600|Work+Sans:200,300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

html, body, div, h1, p, blockquote, a, cite, img, li, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: Helvetica;
  vertical-align: baseline;
}

body {
  -webkit-font-smoothing: antialiased;
  background: #05090d;
  color: #fff;
  font: 16px/1.5 Charter, Palatino;
  text-align: center;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}

h1 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 38px;
	font-weight: bold;
	letter-spacing: 3.5px;
	text-transform: uppercase;
}

section {
  	padding: 100px 0;
}

.self .location {
  	font-family: 'Lato';
	font-size: 13px;
	padding: 1px;
}

.self p {
	font-family: 'Lato';
	font-size: 14px;
	margin-bottom: 13px;
}

a {
	font-family: 'Lato';
	color: inherit;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid #fff;
}

.links li {
  	font-family: 'Lato';
	font-weight: bold;
	font-size: 12px;
	display: inline-block;
	margin: 10px;
	text-transform: uppercase;
}

.links .spaced {
  letter-spacing: 5px;
}

.words {
	display: inline-block;
	padding: 10px;
	align-self: auto;
}

blockquote {
  max-width: 615px;
}

.words blockquote p {
	font-size: 19px;
	align-self: auto;	
}