@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

html, body, div, h1, p, blockquote, a, cite, img, li, section {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: Helvetica;
  vertical-align: baseline;
}

body {
    -webkit-font-smoothing: antialiased;
    background: #05090d;
    color: #fff;
    font: 16px/1.5 Charter;
    text-align: center;
}

canvas {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lato';
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  text-align: auto;
}

section {
    padding: 10px 0;
    padding-top: 10%;
}

.bio p {
  font-family: Avenir;
  font-size: 16px;
  margin-bottom: 13px;
  font-weight: 400;
}

a {
  font-family: 'Lato';
  color: inherit;
  text-decoration: none;

}

a:hover {
  opacity: 0.5;
  border-bottom: 1px solid #3A4750;
}

.links li {
  font-family: Avenir;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  margin: 10px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 !important;
}

.links .spaced {
  letter-spacing: 5px;
}

.words {
  display: inline-block;
  padding: 10px;
  align-self: auto;
}

blockquote {
  max-width: 620px;
  text-align: auto;
}

.words blockquote p {
  font-size: 19px;
  margin-top: 30px;
  text-align: justify;
}

.resume p {
  padding: 22px;
  margin-right: 31px;
  /* margin: 0px; */
  text-align: end;
  /* padding-bottom: 0px; */
  margin-bottom: 1px;
  margin-top: -15px;
}

/** @media **/

@media screen and (min-width: 1280px) {
  section {
    /* padding: 57px 0; */
    padding-top: 10%;
 }
}

@media screen and (min-width: 1918px) {
    h1 {
    font-size: 60px;
    margin: 0;
    font-size: 2.625rem;
    line-height: 54px;
    line-height: 3.375rem;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    border: 0;
  }
  blockquote {
    line-height: 1.875rem;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 30px;
    line-height: 1.875rem;
    line-height: normal;
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 400px) {
  ol, ul {
      list-style: none;
      display: table-caption;
  }

  h1, h2.like-h1 {
    font-size: 36px;
    line-height: 36px;
    line-height: 2.25rem;
  } 
  
  .words {
    margin-right: 10px;
  }

  .words blockquote p {
      font-size: 16px;
      margin-top: 20px;
      text-align: justify;
      padding-left: 32px;
      padding-right: 32px;
  }
}