@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

html, body, div, h1, p, blockquote, a, cite, img, li, section {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: Helvetica;
  vertical-align: baseline;
}

body {
    -webkit-font-smoothing: antialiased;
    background: #05090d;
    color: #fff;
    font: 16px/1.5 Charter;
    text-align: center;
}

canvas {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lato';
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  text-align: auto;
}

section {
    padding: 10px 0;
    padding-top: 6%;
}

.self p {
  font-family: Avenir;
  font-size: 14px;
  margin-bottom: 13px;
  text-align: auto;
}

a {
  font-family: 'Lato';
  color: inherit;
  text-decoration: none;

}

a:hover {
  opacity: 0.5;
  border-bottom: 1px solid #3A4750;
}

.links li {
  font-family: Avenir;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  margin: 10px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 !important;
}

.links .spaced {
  letter-spacing: 5px;
}

.words {
  display: inline-block;
  padding: 10px;
  align-self: auto;
}

blockquote {
  max-width: 619px;
  text-align: auto;
}

.words blockquote p {
  font-size: 19px;
  align-self: auto;
}

.resume p {
  padding: 35px;
  margin: 10px;
}


/** copy and paste 

.link {
    border-bottom: 1px solid rgba(58, 71, 80, .4);
    color: #f7f5f2;
    font-weight: 400;
    text-decoration: none;
    transition: 100ms;
    position: relative;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d
}

.link:hover {
    border-bottom-color: #3A4750
}

.link--light {
    color: #F3F3F3;
    border-bottom-color: rgba(243, 243, 243, .4)
}

.link--light:hover {
    border-bottom-color: #F3F3F3
}

.link--arrow:after {
    content: '\f105';
    font-family: FontAwesome;
    font-size: 14px;
    margin-left: 7px
}

.link--back:before {
    content: '\f104';
    font-family: FontAwesome;
    font-size: 14px;
    margin-right: 7px
}

.mailto-link {
    cursor: pointer
}

.mailto-link:hover:after {
    content: '(click to copy)';
    font-family: Circular, Helvetica, sans-serif;
    font-weight: 300
}

.mailto-link--success:hover:after {
    content: '(success!)';
    font-family: Circular, Helvetica, sans-serif
}

.mailto-link--safari:hover:after {
    content: '(this will open your mail client)';
    font-size: 12px;
    font-family: Circular, Helvetica, sans-serif
}

**/

/** resume 

.charwrap {
  white-space: nowrap; }

.clickable {
  cursor: pointer; }
  .clickable.bgfx:before {
    top: 9%;
    height: 90%; }
  .clickable.bgfx.dark {
    color: #151515; }
    .clickable.bgfx.dark:before {
      background: #151515; }
    .clickable.bgfx.dark:hover {
      color: white; }
  .clickable.bgfx.crazy {
    color: #151515; }
    .clickable.bgfx.crazy:before {
      background: url("assets/bg-rainbow.png");
      background-repeat: repeat;
      background-size: 110px; }
    .clickable.bgfx.crazy:hover {
      color: white; }

.clickable.bgfx.dark {
  color: #F7F7F7;
}

.clickable {
  cursor: pointer;
}

.bgfx {
  position: relative;
  display: inline-block;
  -webkit-transition: color 0.3s cubic-bezier(0, 0.77, 0.64, 1);
  -moz-transition: color 0.3s cubic-bezier(0, 0.77, 0.64, 1);
  -ms-transition: color 0.3s cubic-bezier(0, 0.77, 0.64, 1);
  -o-transition: color 0.3s cubic-bezier(0, 0.77, 0.64, 1);
  transition: color 0.3s cubic-bezier(0, 0.77, 0.64, 1);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .bgfx:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 100%;
    z-index: -1;
    -webkit-transition: width 0.3s cubic-bezier(0, 0.77, 0.64, 1);
    -moz-transition: width 0.3s cubic-bezier(0, 0.77, 0.64, 1);
    -ms-transition: width 0.3s cubic-bezier(0, 0.77, 0.64, 1);
    -o-transition: width 0.3s cubic-bezier(0, 0.77, 0.64, 1);
    transition: width 0.3s cubic-bezier(0, 0.77, 0.64, 1); }
  .bgfx:hover:before {
    width: calc(100% + 20px); }
**/


/** @media **/

@media screen and (min-width: 1280px) {
  section {
    /* padding: 57px 0; */
    padding-top: 10%;
 }
}